
/*
     FILE ARCHIVED ON 12:09:35 Aug 21, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:54:03 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 107.213
  exclusion.robots: 0.21
  exclusion.robots.policy: 0.183
  RedisCDXSource: 0.639
  esindex: 0.011
  LoadShardBlock: 64.561 (3)
  PetaboxLoader3.datanode: 121.92 (5)
  load_resource: 303.838 (2)
  PetaboxLoader3.resolve: 189.607 (2)
*/