#u88
{
	position: fixed;
}


/*
     FILE ARCHIVED ON 01:26:55 Dec 19, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:47:16 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 57.688
  exclusion.robots: 0.117
  exclusion.robots.policy: 0.109
  cdx.remote: 0.053
  esindex: 0.009
  LoadShardBlock: 29.219 (3)
  PetaboxLoader3.datanode: 79.872 (4)
  load_resource: 192.583
  PetaboxLoader3.resolve: 111.72
*/